///
/// ファイル名	: AppForm.cshtml
/// 作成者		: murakami
/// 制作日		: 2020/3/12
/// 最終更新者	: なし
/// 最終更新日	: なし
///
/// 更新履歴
/// 名前			日付		内容
/// murakami		2020/03/12	新規作成
///


@{
    ViewBag.Title = "AppForm";
}

@Scripts.Render("~/bundles/AppFormAjax")

<div class="SideBar col-lg-2 hidden-xs" style="min-height:500px">

    <p class="fontWhite">メニュー</p>

    <div class="div-ajaxLoad divButton" data-category="AppFormList">申請一覧</div>
    <div class="div-ajaxLoad divButton" data-category="NewAppForm">新規申請</div>
</div>
<div class="result col-lg-9"></div>